{
  "extends": "eslint-config-egg",
  "rules": {
    "array-bracket-spacing": 0,
    "no-console": 1
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}