<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <title>金匣子</title>
  <!-- Bootstrap -->
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!--fontawesome-->
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--animation-->
  <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <!--main css-->
  <link href="../asset/index.css?__inline" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <header id="header_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <img src="../asset/images/logo.png" alt="">
            <a href='/'><span class='index'>Home</span></a>
            <!-- <a href='/'><span class='index'>首页</span></a> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="header_area_text">
            <h2 class="wow slideInDown" data-wow-duration="2s">
                为中小商家提供互联网技术解决方案
            </h2>
            <p class="wow slideInUp">
              客户管理、收银管理、营销推广一站式解决方案，让生意不再难！
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class='section_padding'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>公司简介</h2>
        </div>
      </div>
      <div class='row aboutUs'>
        <p class='col-xs-12 text-left'>
          广州市金匣子信息科技有限公司成立于2017年10月份，是一家专业的IT技术服务公司。公司立足于高端IT技术服务，专注于打造高技术、高素质、高效率的IT团队。公司以业务为切入点、以技术为支撑点，致力于为各行各业提供线上一站式解决方案，提高企业业务开展效率，目前已经公司已经针对互联网金融、移动支付、供应链、在线商城等行业提供成熟的产品。公司秉持一切以客户为导向，提倡让客户放心、更让客户省心的服务宗旨，以最专业的IT团队和IT技术为客户提供最满意的IT服务。
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="single_feature wow slideInUp service" data-wow-duration="1s">
            <img class="img-responsive center-block" src="../asset/images/aboutUs/fuwu.png" alt="">
            <h3 class='text-center'>我们的服务</h3>
            <div>
              <p>
                ① 线上产品解决方案。
              </p>
              <p>
                ② 营销、推广、产品方案策划及设计。
              </p>
              <p>
                ③ 系统外包服务。
              </p>
              <p>
                ④ 系统部署集成。
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-4">
          <div class="single_feature wow slideInUp production" data-wow-duration="2s">
            <img class="img-responsive center-block" src="../asset/images/aboutUs/chanpin.png" alt="">
            <h3 class='text-center'>我们的产品</h3>
            <div>
              <p>
                ① P2P业务系统，集业务处理、营销推广、资产风控、银行存管、数据分析、报表统计、后台管理、PC、微信及APP等功能模块。
              </p>
              <p>
                ② 现金贷业务系统，集引流、推广、风控、支付、还款、客服、催收、后台管理、数据分析、报表统计等功能模块。
              </p>
              <p>
                ③ 移动支付系统，集涵盖微信支付、支付宝、银联等渠道，支持H5支付、APP支付、扫码支付、快捷支付等多种支付方式。
              </p>
            </div>
          </div>
        </div> -->
        <div class="col-sm-6">
          <div class="single_feature wow slideInUp competitive" data-wow-duration="1s">
            <img class="img-responsive center-block" src="../asset/images/aboutUs/jingzhengli.png" alt="">
            <h3 class='text-center'>我们的核心竞争力</h3>
            <div>
              <p>
                ① 业务技术过硬，有一支成熟资深的技术业务团队。
              </p>
              <p>
                ② 服务意识到位，让客户省心挣钱永远是我们的宗旨。
              </p>
              <p>
                ③ 产品成熟稳定，我们提供的产品承载过各种数量级的业务场景，安全稳定接地气，满足客户各种定制化需求。
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="single_feature wow slideInUp contact" data-wow-duration="3s">
            <h3 class='text-left'>联系我们</h3>
            <p>
              联系方式 : 020-85165815
            </p>
            <p>
              联系人 : 丘先生
            </p>
            <p>
              联系地址 : 广州市天河区元岗路310号自编2栋B210房
            </p>
          </div>
        </div>
      </div>
    </div>    
  </section>
<!--   <footer id="footer_area" style="text-align: center;">
    <p>Copyright © 2017 广州市金匣子信息科技有限公司 版权所有.
      <br/>
      <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17147854号</a></p>
  </footer> -->
  <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
  <script>
  new WOW().init();
  </script>
</body>

</html>