<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>金匣客-移动支付，邀您加入</title>
</head>

<body>
  <div class="agent_header" align="center">
    <img src="../asset/images/agent_header.png" width="960px">
  </div>
  <div class="container">
    <img src="../asset/images/agent_body_1.jpg" width="960px" style="margin-top: 50px;">
    <img src="../asset/images/agent_body_2.jpg" width="960px" style="margin-bottom: 50px;">
    <link rel="import" href="../common/register.ejs?__inline">
    <div class="weui-footer">
      <p class="weui-footer__text"><a href="javascript:void(0);">粤ICP备17147854号</a> Copyright © 2017-2018 金匣子</p>
    </div>
  </div>
  <link rel="import" href="../common/foot.ejs?__inline">
</body>

</html>
