<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>操作指引-（邀请有奖）</title>
</head>

<body>
  <div class="invite">
    <div class='step1 common'>
      <p>1.首页点击【邀请有奖】。</p>
      <img src="../asset/images/guide/yqyj_1.png" class="img-responsive">
    </div>
    <div class='step2 common'>
      <p>2.选择分享方式。</p>
      <img src="../asset/images/guide/yqyj_2.png" class="img-responsive">
    </div>
    <div class='step3 common'>
      <p>3.朋友通过你分享的链接注册，并使用金匣子收款，你也能获得收益（朋友收款金额的0.1‰）。</p>
      <img src="../asset/images/guide/yqyj_3_1.png" class="img-responsive">
      <img src="../asset/images/guide/yqyj_3_2.png" class="img-responsive">
    </div>
    <div class='step4 common'>
      <p>4.可在首页查看推广和收益情况。</p>
      <img src="../asset/images/guide/yqyj_4_1.png" class="img-responsive">
      <img src="../asset/images/guide/yqyj_4_2.png" class="img-responsive">
    </div>
  </div>
  <div class="returnBtn" onclick="javascript:window.history.go(-1);">
    <img src="../asset/images/guide/returnBtn.png" class="img-responsive">
  </div>
</body>

</html>
