<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>操作指引-（收款）</title>
</head>

<body>
  <div class="gather">
    <div class='step1 common'>
      <p>1.点击首页底部【收款】按钮，进入收款页面。</p>
      <img src="../asset/images/guide/sk_1.png" class="img-responsive">
    </div>
    <div class='step2 common'>
      <p>2.输入金额，并点击【信用卡支付】，进入信用卡信息输入页面。</p>
      <img src="../asset/images/guide/sk_2.png" class="img-responsive">
    </div>
    <div class='step3 common'>
      <p>3.输入用于支付的信用卡信息。</p>
      <img src="../asset/images/guide/sk_3_1.png" class="img-responsive">
    </div>
    <div class='step4 common'>
      <p>系统自动记录已用过的信用卡，下次收款不用重复输入。</p>
      <img src="../asset/images/guide/sk_3_2.png" class="img-responsive">
      <img src="../asset/images/guide/sk_3_3.png" class="img-responsive">
    </div>
    <div class='step5 common'>
      <p>4.获取并填写验证码，确认提交。</p>
      <img src="../asset/images/guide/sk_4.png" class="img-responsive">
    </div>
    <div class='step6 common'>
      <p>5.输入支付密码</p>
      <img src="../asset/images/guide/sk_5.png" class="img-responsive">
    </div>
    <div class='step7 common'>
      <p>6.支付成功，等待资金到账。</p>
      <img src="../asset/images/guide/sk_6.png" class="img-responsive">
    </div>
    <div class='step8 common'>
      <p>7.可在首页“待结算金额”处查看收款未到账的金额。</p>
      <img src="../asset/images/guide/sk_7.png" class="img-responsive">
    </div>
    <div class='step9 common'>
      <p>8.在"收款记录"查看收款操作的时间、金额等信息。</p>
      <img src="../asset/images/guide/sk_8.png" class="img-responsive">
    </div>
    <div class='remark'>
      <p>注：</p>
      <p>已扣款——信用卡已扣款，待提交入账。</p>
      <p>失败——收款失败。</p>
      <p>已到账——收款已经到储蓄卡的金额。</p>
      <p>处理中——银行已处理。</p>
    </div>
  </div>
  <div class="returnBtn" onclick="javascript:window.history.go(-1);">
    <img src="../asset/images/guide/returnBtn.png" class="img-responsive">
  </div>
</body>

</html>
