<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>操作指引</title>
</head>

<body>
  <img src="../asset/images/guide/top.png" class="img-responsive">
  <div class="guideIndex">
    <a class="weui-cell weui-cell_access" href="/guide/setAccount">
        <div class="weui-cell__bd">
            <p>设置收款账户</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/guide/setPayPsw">
        <div class="weui-cell__bd">
            <p>设置支付密码</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/guide/gather">
        <div class="weui-cell__bd">
            <p>收款</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/guide/improveInfo">
        <div class="weui-cell__bd">
            <p>完善信息</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/guide/invite">
        <div class="weui-cell__bd">
            <p>邀请有奖</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
    <a class="weui-cell weui-cell_access" href="/guide/profit">
        <div class="weui-cell__bd">
            <p>收益提现</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
  </div>
</body>

</html>
