<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>操作指引-（设置收款账号）</title>
</head>

<body>
  <div class="weui-cell rule">
    <div class="weui-cell__hd">
      <img src="../asset/images/guide/notice.png">
    </div>
    <div class="weui-cell__bd">
      <p>设置好收款账户，才能进行收款。</p>
    </div>
  </div>
  <div class="account">
    <div class='step1 common'>
      <p>1.点击头像，进入"用户中心"。</p>
      <img src="../asset/images/guide/szskzh_1.png" class="img-responsive">
    </div>
    <div class='step2 common'>
      <p>2.点击【设置收款账户】，进入“设置收款账户”页面。</p>
      <img src="../asset/images/guide/szskzh_2.png" class="img-responsive">
    </div>
    <div class='step3 common'>
      <p>3.填写真实账户信息，并确定提交。</p>
      <img src="../asset/images/guide/szskzh_3.png" class="img-responsive">
    </div>
    <div class='step4 common'>
      <p>4.添加成功。设置交易密码后可进行收款操作。</p>
      <img src="../asset/images/guide/szskzh_4.png" class="img-responsive">
    </div>
    <div class='remark'>
      <p>注：</p>
      <p>该处为添加收款用的银行卡，仅限储蓄卡；</p>
      <p>请填写本人真实有效的银行卡信息，否则将添加失败；</p>
      <p>每人只能在金匣子上设置一个收款账户。</p>
    </div>
  </div>
  <div class="returnBtn" onclick="javascript:window.history.go(-1);">
    <img src="../asset/images/guide/returnBtn.png" class="img-responsive">
  </div>
</body>

</html>
