<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>操作指引-（设置支付密码）</title>
</head>

<body>
  <div class="weui-cell rule">
    <div class="weui-cell__hd">
      <img src="../asset/images/guide/notice.png">
    </div>
    <div class="weui-cell__bd">
      <p>安全起见，收款前须先设置支付密码。</p>
    </div>
  </div>
  <div class="setPwd">
    <div class='step1 common'>
      <p>1.点击头像，进入“用户中心”。</p>
      <img src="../asset/images/guide/szzfmm_1.png" class="img-responsive">
    </div>
    <div class='step2 common'>
      <p>2.点击【设置支付密码】，并输入登录密码验证后进入“设置支付密码”页面。</p>
      <img src="../asset/images/guide/szzfmm_2_1.png" class="img-responsive">
      <img src="../asset/images/guide/szzfmm_2_2.png" class="img-responsive">
    </div>
    <div class='step3 common'>
      <p>3.输入6位支付密码</p>
      <img src="../asset/images/guide/szzfmm_3.png" class="img-responsive">
    </div>
    <div class='step4 common'>
      <p>4.设置成功。可以去收款啦！</p>
      <img src="../asset/images/guide/szzfmm_4.png" class="img-responsive">
    </div>
  </div>
  <div class="returnBtn" onclick="javascript:window.history.go(-1);">
    <img src="../asset/images/guide/returnBtn.png" class="img-responsive">
  </div>
</body>

</html>
