<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>操作指引-（收益提现）</title>
</head>

<body>
  <div class="profit">
    <div class='step1 common'>
      <p>1.在首页查看账户是否有余额。</p>
      <img src="../asset/images/guide/sytx_1.png" class="img-responsive">
    </div>
    <div class='step2 common'>
      <p>2.首页点击【收益提现】，进入提现页面。</p>
      <img src="../asset/images/guide/sytx_2.png" class="img-responsive">
    </div>
    <div class='step3 common'>
      <p>3.点击【提现】，将所有余额一次性转至绑定的储蓄卡上。（提现需100元起）</p>
      <img src="../asset/images/guide/sytx_3_1.png" class="img-responsive">
      <img src="../asset/images/guide/sytx_3_2.png" class="img-responsive">
    </div>
    <div class='step4 common'>
      <p>4.在首页“提现记录”可查看提现情况。</p>
      <img src="../asset/images/guide/sytx_4.png" class="img-responsive">
    </div>
  </div>
  <div class="returnBtn" onclick="javascript:window.history.go(-1);">
    <img src="../asset/images/guide/returnBtn.png" class="img-responsive">
  </div>
</body>

</html>
