<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>帮助中心</title>
</head>

<body>
  <img src="../asset/images/bangzhuzhongxin.jpg" class="img-responsive">
  <ul>
    <li>
      <p class="question">如何进行实名认证?</p>
      <p class="answer">收款前需要先进行实名认证，银行据此确认持卡人的真实性，实名认证需要持卡人填写正确的姓名、证件号、银行卡号，所有要素填写无误方可通过实名认证。</p>
    </li>
    <li>
      <p class="question">收款什么时候到账?</p>
      <p class="answer">支付时间为09:00-22:00的5分钟内到账
        <br/>其他支付时间第二天到账</p>
    </li>
    <li>
      <p class="question">支付额度有什么限制?</p>
      <p class="answer">1. 单笔交易最低1000。
        <br/>2. 未通过照片认证的，单笔最高5000，单卡单日最高1万。
        <br/>3. 通过照片认证的，单笔最高2万，单卡单日最高10万。
        <br/>4. 超过限额的部分第二天结算到账。
      </p>
    </li>
  </ul>
</body>

</html>
