<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">
  <title>金匣子</title>
  <!-- Bootstrap -->
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <!--fontawesome-->
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--animation-->
  <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <!--main css-->
  <link href="../asset/index.css?__inline" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <header id="header_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="logo">
            <img src="../asset/images/logo.png" alt="">
            <a href='/aboutUs'><span class='aboutUs'>About Us</span></a>
            <!-- <a href='/aboutUs'><span class='aboutUs'>关于我们</span></a> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="header_area_text">
            <h2 class="wow slideInDown" data-wow-duration="2s">
                为中小商家提供互联网技术解决方案
            </h2>
            <p class="wow slideInUp">
              客户管理、收银管理、营销推广一站式解决方案，让生意不再难！
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="features_area" class="section_padding text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>解决方案</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="single_feature wow slideInUp" data-wow-duration="1s">
            <i class="fa fa-user"></i>
            <h3>客户管理</h3>
            <p>
              大数据分析、客户标签定义，真正了解客户需求、挖掘客户价值
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single_feature wow slideInUp" data-wow-duration="2s">
            <i class="fa fa-flag"></i>
            <h3>营销推广</h3>
            <p>
              H5、微信、支付宝等各种营销渠道支持，个性化定制营销推广方案
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="single_feature wow slideInUp" data-wow-duration="3s">
            <i class="fa fa-paint-brush"></i>
            <h3>收银管理</h3>
            <p>
              灵活的收银管理、支持各种收银方式、详尽的收银数据统计报表
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section_padding" style="background: #E9EBEA;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>场景支持</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="wow slideInUp" data-wow-duration="1s">
            <img class="img-responsive" src="../asset/images/shangchao.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="wow slideInUp" data-wow-duration="2s">
            <img class="img-responsive" src="../asset/images/canyin.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="wow slideInUp" data-wow-duration="3s">
            <img class="img-responsive" src="../asset/images/fuzhuang.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="wow slideInUp" data-wow-duration="4s">
            <img class="img-responsive" src="../asset/images/yiyuan.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>合作方式</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="wow slideInDown" data-wow-duration="2s">
            <img class="img-responsive" src="../asset/images/qudaojieru.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="wow slideInDown" data-wow-duration="3s">
            <img class="img-responsive" src="../asset/images/shanghujieru.jpg" alt="">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="wow slideInDown" data-wow-duration="4s">
            <img class="img-responsive" src="../asset/images/chanpintuiguang.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<!--   <footer id="footer_area" style="text-align: center;">
    <p>Copyright © 2017 广州市金匣子信息科技有限公司 版权所有.
      <br/>
      <a rel="nofollow" href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17147854号</a></p>
  </footer> -->
  <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
  <script>
  new WOW().init();

  </script>
</body>

</html>
