<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>金匣子-极速收款,尽在掌握</title>
</head>

<body>
  <div class="product_header" align="center">
    <img src="../asset/images/product_header.png" width="960px">
  </div>
  <div class="container">
    <img src="../asset/images/product_body.jpg" width="960px" style="margin: 20px 0;">
    <link rel="import" href="../common/register.ejs?__inline">
    <div class="weui-footer">
      <p class="weui-footer__text"><a href="javascript:void(0);">粤ICP备17147854号</a> Copyright © 2017-2018 金匣子</p>
    </div>
  </div>
  <link rel="import" href="../common/foot.ejs?__inline">
</body>

</html>
