<!DOCTYPE html>
<html>

<head>
  <link rel="import" href="../common/head.ejs?__inline">
  <title>金匣子-极速收款,尽在掌握</title>
</head>

<body>
  <img class="img-responsive" src="../asset/images/product_mobile.jpg">
  <link rel="import" href="../common/register.ejs?__inline">
  <div class="weui-footer">
    <p class="weui-footer__text"><a href="javascript:void(0);">粤ICP备17147854号</a>
      <br/>Copyright © 2017-2018 金匣子</p>
  </div>
  <link rel="import" href="../common/foot.ejs?__inline">
</body>

</html>
