<div class="weui-loadmore weui-loadmore_line productCode">
  <span class="weui-loadmore__tips">立即注册</span>
</div>
<% if(productCode == "mbCode"){%>
<img src="../asset/images/mobile_ewm.png" class='img-responsive qrcode'>
<%}else {%>
<img src="../asset/images/web_ewm.png" class='img-responsive qrcode'>
<%}%>
<div class="weui-cells weui-cells_form">
  <form id="form">
    <input type="hidden" name="spreadBy" value="<%= spreadBy%>">
    <input type="hidden" name="channel" value="<%= channel%>">
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="tel" id="mobile" name="mobile" placeholder="请输入手机号" required pattern="REG_MOBILE" maxlength="11" emptyTips="请输入手机号" notMatchTips="请输入正确的手机号">
      </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label">验证码</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="tel" name="vccode" placeholder="请输入4位验证码" required pattern="REG_VCCODE" maxlength="4" emptyTips="请输入4位验证码" notMatchTips="请输入4位验证码">
      </div>
      <div class="weui-cell__ft">
        <button class="weui-vcode-btn" id="getCode">获取验证码</button>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd">
        <label class="weui-label">密码</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="password" name="password" placeholder="请输入密码" required pattern="REG_PASSWORD" maxlength="12" emptyTips="请输入6-12位密码" notMatchTips="请输入6-12位密码">
      </div>
    </div>
  </form>
</div>
<div class="weui-btn-area">
  <a class="weui-btn weui-btn_primary" href="javascript:" id="submitBtn">立即注册</a>
</div>
